* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://img.freepik.com/premium-photo/playing-cards-poker-dice-phone-green-blue-cloth_446633-2446.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: rgb(31, 25, 25);
    font-size: 36px;
}

h3 {
    color: rgb(31, 25, 25);
    font-size: 28px;
}

#utente {
    color: rgb(31, 25, 25);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: red;
}